<h2> Edit Page for Team
  <span style="color:blue"><%= team.name %></span>
</h2>

<div class="container">
<!-- no method for form because ajax is responsible for that -->
<form id="edit-team-form" action="/teams/<%= team.name %>">
  <div class="form-group">
    <!-- edit team name -->
      <input class="form-control" type="text" value="<%= team.name %>"
                                              name="team-name"
                                              required />
    <!-- edit team members -->
    <textarea class="form-control" name="team-members"
                                   required><%= team.members %></textarea>
  </div>
  <!-- submit button, ajax can see this with .submit -->
  <button class="btn btn-warning" type="submit">Confirm Edits</button>
</form>
</div>
